<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <form action="/" method="Post">
        <input type="text" name="listitem"><button type="submit">Add</button>
    </form>
    <a href="/sort/sort">Sort</a>

    <ul>
        <% tempArr.forEach( (result, index)=> { %>
        <li> <%= result.listitem %></br><%= result.date%></li>
        <a href="/update/<%= index %>">update</a>
        <a href="/delete/<%= index %>">delete</a>
        <% }) %>
    </ul>
    <% for( i = 0; i < Math.ceil(arrLength/5); i++){ %>
    <a href="/<%= i %>"><%= (i+1) %></a>
    <% } %>

</body>

</html>